<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
<style>
 body{
   background-color: #009688 ;
}
.formGatey{
   background-color: rgba(255,255,255,0.8);
   padding: 10px;
   margin-top: 50px;
   width: auto;
}
.resetPass{
   margin: 10px;
}
.inputGatey{
   margin-bottom: 20px;
}
.imgLogo{
   width: 200px;
   height: auto;
   margin-top: 50px;
}
</style>
<section>
 <form action="/reset-password?access_token=<%= accessToken %>" method="post" >
   <center>
     <img class="imgLogo" src="http://ec2-54-210-123-160.compute-1.amazonaws.com:3000/image/logo.png" alt="">
   </center>
   <div class="container">
     <fieldset class="formGatey">
       <div class="row">
         <div class="col-md-12 text-center">
           <legend><h1>Password reset</h1></legend>
         </div>
       </div>
       <div class="row">
         <div class="col-md-offset-4 col-md-2 inputGatey">
           <label for="password">New password:</label>
         </div>
         <div class="col-md-2 inputGatey">
           <input type="password" name="password">
         </div>
       </div>
       <div class="row">
         <div class="col-md-offset-4 col-md-2 inputGatey">
           <label for="confirmation">Confirm new password:</label>
         </div>
         <div class="col-md-2 inputGatey">
           <input type="password" name="confirmation">
         </div>
       </div>
       <div class="col-md-12 text-center resetPass">
         <button type="submit" class="btn btn-success" value="Reset password">Reset password</button>
       </div>
     </fieldset>
   </div>
 </form>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
