   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
   <style>
       body{
           background: rgb(0, 150, 136);
           background-size: cover;
       }
       .formGatey{
           background-color: rgba(255,255,255,0.8);
           padding: 10px;
           margin-top: 50px;
           width: auto;
       }
       .resetPass{
           margin: 10px;
       }
       .inputGatey{
           margin-bottom: 20px;
       }
       .imgLogo{
           width: 200px;
           height: auto;
           margin-top: 50px;
       }
   </style>
   <section>
    <center>
        <img class="imgLogo" width="250" height="250" src="http://ec2-54-210-123-160.compute-1.amazonaws.com:3000/image/logo.png" alt="">
    </center>
    <div class="container">
        <fieldset class="formGatey">
            <div class="row">
                <div class="col-md-12 text-center">
                    <legend><h1>Welcome to Gatey</h1></legend>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-4 col-md-4 inputGatey">
                    <center><%= text %></center>
                </div>
            </div>
        </fieldset>
    </div>
   </section>
   <script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>